nav,
footer {
  height: 75px;
}

#container {
  margin: 75px 0 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
}

.row {
  margin: 0;
  padding: 0;
}

.view_container {
  min-height: 100%;
  height: 100%;
}

#home_container {
  background-image: url("wall.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
}

#contact_form {
  margin: auto;
}

#info {
  margin: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);


}


/*Posts*/
#title {
  text-align: center;
}

#comment_slide,
.table_slide {
  height: 400px;
  overflow-y: scroll;
}

#comment_form {
  height: 400px;
  margin: 0 !important;
  padding: 0;
}

#comment_part > h4 {
  padding: 10px 0;
}

#comment_part > div > div:first-child {
  margin-bottom: 40px;
}

.post,
#admin_post_panel,
.margin_15 {
  margin: 15px;
}

.register {
  margin-top: 100px;
}

.admin_dash {
  margin-top: 100px;
}

.table_slide {
  margin-bottom: 30px;
}

.btn_modal {
  border: 1px solid #6A6A6A;
  background-color: white;
}


#home_info {
  background-color: white;
  display: inline-block;
  width: 100px;
  margin: 0;
  padding: 0;
  height: 100px;
  border: 2px solid blue;
}

img#logo {
  width: 150px;
  background-color: white;
}


/*Badge home page*/
.badgescard,
.firstinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.cardId {
  width: 500px;
  min-width: 150px;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.cardId:after {
  content: '';
  display: block;
  width: 185px;
  height: 300px;
  background: #6A6A6A;
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.badgescard {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #6A6A6A;
  color: #fff;
  width: 480px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: -1;
  left: 10px;
  bottom: 10px;
  animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}

.badgescard span {
  font-size: 1.6em;
  margin: 0px 6px;
  opacity: 0.6;
}

.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}

.firstinfo img {
  border-radius: 10%;
  width: 120px;
  height: 120px;
  background-color: white;
}

.firstinfo .profileinfo {
  padding: 0px 20px;
}

.firstinfo .profileinfo h1 {
  font-size: 1.8em;
}

.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: #6A6A6A;
  font-style: italic;
}

.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5A5A5A;
  line-height: 1.2;
  font-style: initial;
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
}

@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}

.modal-content {
  background-color: #1d2227;
  color: #9B9B9B;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.modal-body > form {
  border: 1px solid #4A4A4A;
  padding: 30px;
}

.modal-body > form > div {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}

.modal-body > form > div > label {
  color: #9B9B9B;
  cursor: text;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}


.modal-body input,
.modal-body textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 100%;
  -webkit-appearance: none;
  height: 45px;


}

.modal-body input:focus,
.modal-body textarea:focus {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 100%;
  box-shadow: none;
}


.modal-body input:focus {
  color: #F0F0F0;
  font-size: 20px;
  margin-top: 10px;
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  transform: translateY(-60px);
}


#btn_contact_post,
#btn_contact_close {
  background: transparent;
  color: #F0F0F0;
  border: 2px solid #F0F0F0;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 15px 0px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  width: 30%;

}

#btn_contact_close {
  float: right;

}

#btn_contact_close:hover,
#btn_contact_close:focus,
#btn_contact_post:hover,
btn_contact_post:focus {
  background-color: white;
  color: #333333;
}

.badgescard > a {
  text-decoration: none;
  color: white;
}

.social_link {
  font-size: 20px;
  display: inline-block;
  color: white;
  opacity: 1;

}

.social_link > span {
  font-size: 20px;
}


@media screen and (max-width: 550px) {
    
  .cardId {
    width: 100%;
    background-color: #6A6A6A;
  }


  .firstinfo {
    width: 100%;
    display: block;
  }

  .profileinfo {
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
  }


  .cardId:after {
    content: '';
    display: block;
    width: 200%;
    height: 200%;
    background: white;
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
  }

  .badgescard {
    width: 80%;
    margin: 0 10%;
    left: auto;

  }

  .firstinfo img {
    border-radius: 10%;
    width: 120px;
    height: 120px;
    background-color: white;
    display: block;
    margin: auto;

  }


  @keyframes animatop {
    0% {
      opacity: 0;
      bottom: -500px;
    }
    100% {
      opacity: 1;
      bottom: 0px;
    }
  }

  @keyframes animainfos {
    0% {
      bottom: 10px;
    }
    100% {
      bottom: -42px;
    }
  }

  @keyframes rotatemagic {
    0% {
      opacity: 0;
      transform: rotate(0deg);
      left: 500px;
      top: 0px;
    }
    100% {
      transform: rotate(-40deg);
      left: 0px;
      right: 0px;
      top: 0px;
    }
  }

  .badgescard {
    display: inline;
    bottom: -70px;
  }

  .badgescard > a {
    text-decoration: none;
    color: antiquewhite;
  }

  .badgescard > span {
    margin: 0;
  }

  .social_link {
    font-size: 18px;
    display: inline-block;
    color: antiquewhite;
    opacity: 1;

  }

  .social_link > span {
    font-size: 18px;
  }


}


